@font-face {
    font-family: 'freemono-lean';
    src: url('/fonts/freemono.eot');
    src: url('/fonts/freemono.eot?#iefix') format('embedded-opentype'),
         url('/fonts/freemono.woff2') format('woff2'),
         url('/fonts/freemono.woff') format('woff'),
         url('/fonts/freemono.ttf') format('truetype'),
         url('/fonts/freemono.svg#freemonomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'freemono-lean';
    src: url('/fonts/freemonobold.eot');
    src: url('/fonts/freemonobold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/freemonobold.woff2') format('woff2'),
         url('/fonts/freemonobold.woff') format('woff'),
         url('/fonts/freemonobold.ttf') format('truetype'),
         url('/fonts/freemonobold.svg#freemonomedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    overflow-y: hidden;
    text-align:left;
}
#editor_main {
    overflow-y: auto;
    position: absolute;
    /* border-top: solid 1px #000000; */
    font-family: freemono-lean, Monaco, Menlo, 'Ubuntu Mono', 'Arial Unicode MS', Consolas, source-code-pro, monospace;
    font-size:20px;
    top:0; bottom:0; left:0; right:0;
}
#editor_console {
    position:absolute;
    font-size:20px;
    /* border-left: solid 1px #000000; */
    /* border-top: solid 1px #000000; */
    font-family: freemono-lean, Monaco, Menlo, 'Ubuntu Mono', 'Arial Unicode MS', Consolas, source-code-pro, monospace;
    font-size:20px;
    top:0; bottom:0; left:0; right:0;
}
#menu_bar {
    font-size:15px;
    color:#cccccc;
    background:#333333;
    height:40px;
}
#button_container {
    position:absolute;
    top:0; left:0px;
    z-index:1;
    float: left;
    display: flex;
}
.button {
    float:left;
    margin-right:5px;
    width:35px;
}
#lean_logo {
    margin-left:0px;
    padding-left:0px;
    margin-right:20px;
}
.menu_icon {
    width: 35px;
    height: 35px;
    margin-top: 2px;
    cursor: pointer;
    fill:#ffffff;
    stroke:#ffffff;
}
.menu_icon:hover {
    fill:#ffc52c;
    stroke:#000000;
}
#lean_logo { float: left; margin-left:2px; margin-top:2px; height: 36px; }
#username { margin-top: 12px; margin-right:10px;}

#resizable_main {position: absolute;
            border: 0}
#resizable_console {position: absolute;
                    border: 0}
#new-button {
    margin-right:10px;
}

#console-button {
    margin-left:5px;
    margin-right:13px;
}
