.lean_trace
*.acn
*.aux
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glo
*.html
*.idx
*.ilg
*.ind
*.ist
*.log
*.out
*.out.pyg
*.pdf
*.pyg
*.tex
*.toc
*~
.cask/
watchman/
pygments-main/
auto/
tutorial.html
tutorial.org
